@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');



$font-lato:'Lato', sans-serif;
$font-libre:'Libre Baskerville', serif;

$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-gray:#F3FBF9;
$bg-nav-collapse:#000;
$primary-color: #9F8880;
$text-color: #505050;
$title-color:#111;
